html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
header, nav, main, footer, figure, figcaption { display: block; }

header {background: rgb(255, 255, 255); 
		background: rgba(255, 255, 255,.7);
        font-size: 150%;
	   text-align:center;
	   padding-top: 20px;
		padding-bottom:20px;
		margin-top: 20px;
		margin-bottom:10px;
		}

body{color: #000000;
	font-family: Verdana, Arial, sans-serif;
	display: block;
	font-weight: bold;
	}

#logo2 {
        margin: 0;
        float: left;
        padding-top: 0;
        padding: 0;
        padding-left: 0;
        }
		
#homelogo{position: absolute;
			
			}
 
#wrapper{
	color:#d5e3ff;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	}
	
#tag { padding-right: 20px;
	   font-size: 1em;
	   font-style: italic;
           text-align: right;
           color:white;
           padding: 0%;}	

#navdelivery{padding-top:7%;
			padding-bottom:7.9%;}

		   
#navthanks {padding-top:7%;
			padding-bottom:9.7%;}
			
#navsupport {padding-top: 12%;
			padding-bottom:28.3%;}

#navcontact{padding-top: 1%;
			padding-bottom: 0.5%;}
			
#navhome{padding-top:10%;
		padding-bottom:19.8%;}
		
#navproducts{padding-top: 10%;
			padding-bottom: 91.4%;}
			
#navcart{padding-top: 10%;
		padding-bottom:42.4%;}
		
#navconfirm{padding-top:10%;
			padding-bottom:43.5%;}
			
#navorder{padding-top:10%;
			padding-bottom:28.3%;}
			
#navacc{padding-top: 2%;
			padding-bottom: 3.2%;}
			
#delivery{text-align:center;}

#confirmation{text-align:center;
			font-weight:none;
			}
		
#footercart{margin-left:auto;
			margin-right:auto;}

#inputdelivery{ text-align:center;
				}
			
#divContact {padding-top: 100px;
			padding-bottom: 105px;}
			
label{color:black;}
	
nav { float: left;
		width: 200px;
		background: rgb(255, 255, 255); 
		background: rgba(255, 255, 255,.7);
		font-size: 150%;
		letter-spacing:0.1em;
		font-weight: bold;
		
		top: 20;
		left: 0;
		bottom: 20;
		overflow: hidden;
		overflow-x: hidden;
		} 
	   
nav ul { list-style-type: none; 
         margin: 0;
         padding: 0;
		 overflow: hidden;}
		 
nav li a.active { background-color: #555;
			color: white;}
			


li a, .dropbtn {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}	


li a:hover, .dropdown:hover
.dropbtn {
	background-color: #869dc7;
	}
	
li.dropdown{
	display: block;
	
	
	}
	
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 200px;
	box-shadow: 0px 8px 16px 0px
	rgba(0,0,0,0.2);
	z-index:1;
	
	}
	
.dropdown-content a
{	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
	}
	
.dropdown-content a:hover
{background-color: #869dc7;}

.dropdown:hover .dropdown-content
{display: block;}

nav a { text-decoration: none; }

nav a:link { color: #000000; }

nav a:visited { color: #001d3d; }

nav a:hover {  color: #869dc7;}

nav li a:hover:not(.active) {
    background-color: #869dc7;
    color: white;}

	
	
main { margin-left: 202px;
        padding: 20px;
		margin-top: 20px;
		background: rgb(255, 255, 255); 
		background: rgba(255, 255, 255,.7);
		font-weight:bold;} 
		
figure { margin: 10px;
        }
		 
figcaption { font-size: 80%;
			color: black;
               font-style: italic;
			   text-align: center;}

			   
table{background: rgb(255, 255, 255); 
		background: rgba(255, 255, 255,.7);
		}			   
		 
footer a:link { color: black; }
footer a:visited { color: #001d3d; }
footer a:hover {  color: #869dc7;}
		 
@media only screen and (max-width:1024px){
body{margin:0; }
#wrapper{width:auto;}
main{margin-left:0;}
nav{float:none; width:auto;}
nav li{display:inline-block; padding:0.5em;}
nav ul{text-align:center;}
nav a {border-style:none;}
h1 {font-size:120%;}
h2 {font-size:120%;}
p{font-size:90%;}
}
@media only screen and (max-width:768px){
h1 {font-size:100%;}
h2 {font-size:100%;}
p{font-size:90%;}
figure{display:none;}
nav, nav ul, nav li {padding:0;}
nav li {display: block;}
nav a {display: block; 
		padding:0.5em 0;
		border-bottom:2px ridge #00005D;}
}
	

		
h1 { margin-bottom: auto;
	margin-top: auto;
	display: block;
	text-align:center;
	width: auto ;
	height: auto;
	
	color: #000000;
	line-height: 80px;
	margin-left: auto;
	margin-right: auto;
	}
	
h2, h3 { color: #000000;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: auto;
	display: block;
	}
	


fieldset{background: rgb(255, 255, 255); 
	  background: rgba(255, 255, 255,.7);
	  margin-left: auto;
	  margin-right:auto;
	  width: auto;
	  height: auto;
	  text-align: left;
	  color: black;
	}
	  
p{text-align: center;
	font-weight: bold;
	color: #000000;}

div {margin-right:auto;
	margin-left: auto;
	width: auto;
	height: auto;
	text-align: center;
	font-weight: bold;
	color: #000000;
	
	}
		
footer {font-size:15px;
		background: rgb(255, 255, 255); 
		background: rgba(255, 255, 255,.7);
        text-align: center;
        padding: 20px;
		color: black;
}